
    <div class="container">
        <marquee>
            <h1>Welcome to our group's automatic chicken feed program</h1>
        </marquee>
        <!-- <img src="./images/banner2.jpg" alt=""> -->
        <button class="button btn1">FEED NOW</button>
        <button class="button btn2">SET TIME</button>
        <button class="button btn3" (click)="logout()">Logout</button>
        <div class="image"><img src="../../../assets/images/banner3.jpg" alt="" width="800px" height="590px;"></div>
    </div>