<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">


    <form #feedingForm="ngForm" (submit)="onSubmit(feedingForm)">
        <div class="form-group">
            <legend>Selected feeding</legend>
        </div>

        <div class="form-group">
            <label for="">Feeding time</label>
            <input class="form-control" type="datetime-local" required name="name" #name="ngModel" [(ngModel)]="feedingService.selectedFeeding.time">
        </div>

        <div class="form-group">
            <label for="">Duration</label>
            <input class="form-control" required type="number" name="teacher" min="0" #teacher="ngModel" [(ngModel)]="feedingService.selectedFeeding.duration">
        </div>
        <div class="checkbox">
            <label>
          <input type="checkbox" value="" [checked]="feedingService.selectedFeeding.loop" (click)="handleClickCheckbox()">
          Loop everyday
        </label>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary col-md-2 col-md-offset-4" (click)="onSubmit()">Submit</button>
            <button type="button" class="btn btn-danger col-md-2 " (click)="resetForm()">Reset</button>
        </div>



    </form>
</div>