<div class="container">
    <div class="row feeding-content">
        <div class="text-center">
            <div class="jumbotron">

                <span style="font-size: 30px">Feeding Schedule Management</span>

            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <app-feeding-edit></app-feeding-edit>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <app-feeding-list></app-feeding-list>
        </div>
    </div>
</div>